$background-color: #F3F3F3;


@mixin easeOut {
    transition: all .75s ease-out;
}

@mixin easeIn {
    transition: all .75s ease-in;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0% {height: 100vh; display: flex;}
  15% {height: 100vh; display: flex; color: white;}
  100% {height: 0px; display: none; color: black;}
}

/* Standard syntax */
@keyframes example {
  0% {height: 100vh; display: flex;}
  15% {height: 100vh; display: flex; color: white;}
  100% {height: 0px; display: none; color: black;}
}

@keyframes svg-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}

@keyframes fade-logo {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
    
}

@keyframes no-scroll {
    0% {
        overflow: hidden;
    }
    99% {
        overflow: hidden;
    }
    100% {
        overflow: auto;
    }
}

@keyframes test {
    from {
        color: pink;
    }
    to {
        color: blue;
    }
}
