// Menu Button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 25px;
    cursor: pointer;
    @include easeOut;
    
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: black;
        @include easeOut;
    }
    
    // Rotate into X with menu lines 
    &.close {
        transform: rotate(180deg);
        
        .btn-line {
            // Line 1 - rotate 
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px)
            }
            // Line 2 - hide 
            &:nth-child(2) {
                opacity: 0;
            }
            //Line 3 - rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px)
            }
        }
    }
}

// Menu Overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    
    .menu-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
        display: none;
        justify-content: center;
        
        li {
            float: left;
            text-align: center;
            color: black;
            padding: 25px 16px;
            text-decoration: none;
            font-weight: 700;
        }
    }
}

