@import 'config';
@import 'menu';
@import 'sections';
@import 'svgs';

* { 
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0; 
    font-family: 'Lato', Tahoma, Verdana, sans-serif;
    background-color: white;
    animation: no-scroll 5s ease forwards;
}

// HEADINGS //

h1, h2, h3 {
    margin: 0;
    font-weight: 600;
    
}

a {
    color: white;
    text-decoration: none;
}

#load {
    content: '';
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    letter-spacing: .3rem;
    display: flex;
    height: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-animation: example 4s ease forwards 2.25s; /* Safari 4.0 - 8.0 */
    animation-name: example 4s ease forwards 2.25s;
}

.headline {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: 900;
    margin-top: 100px;
    
    &:after {
        width: 100px;
        margin: 70px auto;
        content: '';
        display: block;
        background: #1D1D1F;
        height: 4px;
    }
}
