@import 'config';
@import 'menu';
@import 'sections';

* { 
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0; 
    font-family: 'Lato', Tahoma, Verdana, sans-serif;
    background-color: white;
}

// HEADINGS //

h1, h2, h3 {
    margin: 0;
    font-weight: 600;
    
}

a {
    color: white;
    text-decoration: none;
}

.headline {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: 900;
    
    &:after {
        width: 100px;
        margin: 70px auto;
        content: '';
        display: block;
        background: #1D1D1F;
        height: 4px;
    }
}

